<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <!-- Servlets -->
    <!-- Logout -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.supinfo.supfitness.web.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!-- ListRaces -->
    <servlet>
        <servlet-name>ListRacesServlet</servlet-name>
        <servlet-class>com.supinfo.supfitness.web.servlet.ListRacesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListRacesServlet</servlet-name>
        <url-pattern>/ListRaces</url-pattern>
    </servlet-mapping>
    <!-- Login -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.supinfo.supfitness.web.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <!-- Register -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.supinfo.supfitness.web.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <!-- Home -->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.supinfo.supfitness.web.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <!-- Details Race -->
    <servlet>
        <servlet-name>DetailsRaceServlet</servlet-name>
        <servlet-class>com.supinfo.supfitness.web.servlet.DetailsRaceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailsRaceServlet</servlet-name>
        <url-pattern>/detailsRace</url-pattern>
    </servlet-mapping>
    <!-- Edit Profile -->
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>com.supinfo.supfitness.web.servlet.EditProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <!-- Faces -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <!-- End Servlets -->
    <!-- Rest API -->
    <!-- List Track -->
    <servlet>
        <servlet-name>ListTrackRestServlet</servlet-name>
        <servlet-class>com.supinfo.supfitness.web.api.servlet.ListTrackRestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListTrackRestServlet</servlet-name>
        <url-pattern>/api/listTrack</url-pattern>
    </servlet-mapping>
    <!-- Add Track -->
    <servlet>
        <servlet-name>AddTrackRestServlet</servlet-name>
        <servlet-class>com.supinfo.supfitness.web.api.servlet.AddTrackRestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTrackRestServlet</servlet-name>
        <url-pattern>/api/addTrack</url-pattern>
    </servlet-mapping>
    <!-- End Rest API -->
    <!-- Filters -->
    <!-- Protector Filter -->
    <filter>
        <filter-name>ProtectorFilter</filter-name>
        <filter-class>com.supinfo.supfitness.web.filter.ProtectorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ProtectorFilter</filter-name>
        <servlet-name>ListRacesServlet</servlet-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-name>DetailsRaceServlet</servlet-name>
    </filter-mapping>
    <!-- AuthManager Filter -->
    <filter>
        <filter-name>AuthStatusFilter</filter-name>
        <filter-class>com.supinfo.supfitness.web.filter.AuthStatusFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthStatusFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Rest Protector Filter -->
    <filter>
        <filter-name>RestProtectorFilter</filter-name>
        <filter-class>com.supinfo.supfitness.web.filter.RestProtectorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RestProtectorFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
    <!-- Config -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <!-- End Config -->
</web-app>
